AdminTask.deleteServer('[-serverName server1 -nodeName {{ ansible_hostname }}]')
AdminTask.createApplicationServer('{{ ansible_hostname }}', '[-name {{ instance }} -templateName default -genUniquePorts true]')
AdminConfig.save()